$color-black: #2D3436;
$color-white: #FFFFFF;
$color-almostwhite: #eff1f3;
// $color-primary: #5DADB0;
$color-primary: #1a759f;
$color-lightprimary: #e1eff6;
$color-mediumprimary: #aecbeb;
$color-darkprimary: #184e77;
$color-secondary: #FDCB6E;
$color-lightsecondary: #efefd0;